#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background: var(--wh);
  border-bottom: 2px solid var(--gy2);
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 56px;
  gap: 12px;
}

.tb-logo-img {
  width: 32px;
  height: 32px;
}

.tb-logo {
  font-size: 22px;
  font-weight: 900;
  color: var(--dk);
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: auto;
  cursor: pointer;
}
.tb-logo span {
  color: var(--or);
}
.tb-logo-cobot {
  font-size: 26px;
}

.tb-streak {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 14px;
  background: var(--yeL);
  border: 2px solid var(--ye);
  border-radius: var(--r24);
  font-size: 13px;
  font-weight: 800;
  color: var(--ye2);
}
.tb-xp {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 14px;
  background: var(--orL);
  border: 2px solid var(--orB);
  border-radius: var(--r24);
  font-size: 13px;
  font-weight: 800;
  color: var(--or);
}
